site_name: scPRINT-2
theme:
  name: readthedocs
  # analytics:
  # gtag: G-ABC123
site_url: https://www.jkobject.com/scPRINT-2/
nav:
  - Home: index.md
  - structure: structure.md
  - pre-training: pretrain.md
  - 350M subset umap: umap/nice_umap_scprint2.html
  - documentation:
      - model: model.md
      - tasks: tasks.md
      - cli: cli.md
      - tokenizers: embedder.md
      - utils: utils.md
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [src]
          options:
            show_root_heading: true
            show_source: true
            summary: true
            merge_init_into_class: true
            show_signature: false
            do_heading: true
      default_handler: python
  - git-revision-date-localized
  - git-authors
  - mkdocs-jupyter:
      include_source: True
      include_requirejs: true
